<!DOCTYPE html>
<html lang="">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

		<title>{{ petition_title }}</title>

		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

		<script src="{{ asset('js/signature_pad.min.js') }}"></script>
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/jquery.validate.min.js') }}"></script>
		<script src="{{ asset('js/additional-methods.min.js') }}"></script>

		<link rel="stylesheet" href="{{ asset('dist/likely/likely.css') }}">
		<script src="{{ asset('dist/likely/likely.js') }}"></script>

		<meta property="og:title" content="{{ petition_title }}" />
		<meta property="og:description" content="{{ petition_subtitle }}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{ url(app.request.attributes.get("_route"), app.request.attributes.get("_route_params")) }}" />
		<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ asset('title-image-1024x683.jpg') }}" />
		<meta property="og:image:width" content="900">
		<meta property="og:image:height" content="605">
		<meta name="twitter:card" content="summary_large_image">

		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans"/>

		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon.png') }}">
		<style type="text/css">
			body {
				font-family: 'PT Sans', sans-serif;
			}
			.splash-image {
				background-position: 50% 50%;
			}

			@media(max-width: 768px) {
				.splash-image {
					min-height: 350px;
				}
			}

			.petition-page {
				background-color: #faf8de;
				box-shadow: 0 11px 35px 5px rgb(64 20 18 / 58%);
				padding: 48px 48px 64px 64px;
			}

			.petition-text {
				text-align: justify;
			}

			.petition-text h1 {
				font-size: 16px;
				font-weight: bold;
				text-align: center;
			}

			.petition-text h2 {
				font-style: italic;
				font-size: 16px;
			}

			@media(min-width: 992px) {
				.petition-form-element {
					width: 720px;
				}
			}

			.form-input {
				width: 100%;
				height: 28px;
				padding: 0 5px;
				box-sizing: border-box;
				border: 1px solid transparent;
				border-bottom: 1px solid #ababab !important;
				background-color: #fff;
				font-size: 14px;
				font-family: 'PT Sans', sans-serif;
			}

			.form-input:focus {
				border: 1px solid #85beff;
				outline: none;
			}

			.form-comment {
				font-size: 16px;
				line-height: 16px;
				color: #7f7f7f;
			}

			.signed {
				text-align: left;
			}
			@media(max-width: 768px) {
				.signed {
					text-align: center;
				}
			}
			.signed-header {
				font-size: 22px;
			}
			.signed-body {
				margin: -12px 0;
				font-size: 46px;
				font-weight: bold;
			}
			.signed-footer {
				font-size: 18px;
			}

			.sign-wrapper {
				max-width: 321px;
			}

			#sign_sketch {
				border: 1px solid gray;
			}

			#sign_sketch {
				position: relative;
				width: 100%;
				height: 148px;
				margin-top: 15px;
				padding: 5px;
				box-sizing: border-box;
				background-color: #fff;
			}

			.submit-button {
				width: 100%;
				font-size: 24px;
				background-color: #5aa9e6;
				font-weight: bold;
				border: none;
				opacity: .8;
			}

			.submit-button:hover {
				opacity: 1;
			}
			label.error {
				color: #dc3535;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<form id="petitionForm" action={{ url('app_petition_signature', {petition_id: petition_id}) }}>
				<div class="row">
					<div class="col-md-6 py-5 px-5" style="background-color: #5aa9e6">
						<h1>
							<strong>{{ petition_title }}</strong>
						</h1>
						<h3 class="mt-3">
							<strong>{{ petition_subtitle|raw }}</strong>
						</h3>
					</div>
					<div class="col-md-6 p-0 splash-image" style="background-image: url({{ asset('title-image-1024x683.jpg') }});"></div>
				</div>
				<div class="row justify-content-lg-center mt-5">
					<div class="col-lg-8 petition-page petition-form-element">
						<div class="row">
							<div class="col-md-6 signed">
								{% if people_signed >= 10 %}
								<div class="signed-header">
									<span>подписали</span>
								</div>
								<div class="signed-body">
									<span>{{ people_signed }}</span>
								</div>
								<div class="signed-footer">
									<span>человек</span>
								</div>
								{% endif %}
							</div>
							<div class="col">
								<div>
									<span>{{ petition_target_to_whom|raw }}</span>
								</div>
								<div class="mt-4">
									<input name="fullname" type="" class="form-input mt-2" placeholder="Булгаков Михаил Афанасьевич" required data-rule-fullname="true">
								</div>
								<span class="form-comment">Впишите фамилию и имя</br>(отчество по желанию)</span>
								<div class="mt-2">
									<input name="email" type="" class="form-input mt-2" placeholder="e-mail" required data-rule-email="true">
								</div>
								<span class="form-comment">На этот адрес будет отправлен ответ</span>
							</div>
						</div>
						<div class="row petition-text mt-4">
							{{ petition_text|markdown_to_html }}
						</div>
						<div class="row">
							<div class="col-sm-5"></div>
							<div class="col-sm-7">
								<div class="sign-wrapper">
									<p style="text-align: right;">Дата: <span id="date_string"></span>, подпись</p>
									<input data-rule-signature="true" id="signature" name="signature" type="hidden">
									<canvas id="sign_sketch" width="340" height="136" style="touch-action: none;"></canvas>
									<div onclick="clearSketch();" class="btn btn-sm btn-link" style="float: right;">Очистить</div>
									<span class="form-comment">В этом окне просьба поставить подпись. Без вашей подписи обращение не будет рассматриваться.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-lg-center mt-5">
					<div class="col-xl-8">
						<div class="row py-3 px-2" style="background-color: #ebebeb;">
							<div class="col-md-5 my-auto">
								<input class="py-2 submit-button" type="submit" value="Подписать обращение"></input>
							</div>
							<div class="col-md-7 mt-2">
								<p>Я даю согласие на обработку персональных данных и поручаю {{ petition_author_to_whom }}
								подать мое обращение в {{ petition_target }} на основании
								<a target="_blank" rel="noopener noreferrer" href="{{ url('app_public_offer', {petition_id: petition_id}) }}">публичной оферты</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-4">
					<div class="col mx-auto text-center">
						<div><strong class="fs-5">Расскажите друзьям</strong></div>
						<div class="likely likely-big">
							<div class="vkontakte">Поделиться</div>
							<div class="telegram">Отправить</div>
							<div class="odnoklassniki">Класснуть</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-lg-center pt-4 pb-3 px-3 mt-4" style="background-color: #e8e8e8;">
					<div class="col-xxl-6 col-lg-8">
						<p>Политика обработки персональных данных и обеспечения безопасности при их обработке через сайт
							{{ sitename }} доступна по ссылке <a target="_blank" rel="noopener noreferrer" href="{{ url('app_personal_data_policy') }}">{{ sitename }}{{ path('app_personal_data_policy') }}</a>
						</p>
					</div>
				</div>
			</form>
		</div>
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="successModalTitle">Спасибо!</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
					</div>
					<div class="modal-body py-5 text-center">
						<p><strong>Ваша подпись принята</strong></p>
						<p class="mt-4">Расскажите друзьям</p>
						<div class="likely">
							<div class="vkontakte">Поделиться</div>
							<div class="telegram">Отправить</div>
							<div class="odnoklassniki">Класснуть</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="errorModalTitle">Произошла ошибка</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
					</div>
					<div class="modal-body py-5">
						При отправке подписи произошла ошибка, попробуйте отправить еще раз или перезагрузить страницу.
						Если не помогает, обратитесь к администратору сайта.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
		<script>
		// Global
		function normalizeString(s) {
			return s.trim().replaceAll(/\s+/g, " ");
		}

		function parseFullName(s) {
			let fullnameParts = s.split(" ");
			if (fullnameParts.length < 2)
				return [];
			return [fullnameParts[0], fullnameParts[1], fullnameParts.slice(2).join(" ")];
		}

		// Date handler
		let dateString = new Date().toLocaleString("ru", {
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		});

		let dateElement = document.getElementById('date_string');
		dateElement.innerHTML = dateString;

		// Signature pad
		const canvas = document.getElementById("sign_sketch");

		const signaturePad = new SignaturePad(canvas, {
			maxWidth: 1.5,
			minWidth: 0.2,
			penColor: "#000080"
		});

		function clearSketch() {
			signaturePad.clear();
		}

		// Request processing
		var processing = false; /* global variable */

		function onSuccess() {
			$("#successModal").modal('show');
			document.getElementById("petitionForm").reset();
			signaturePad.clear();
			processing = false;
		}

		function onError() {
			processing = false;
			$("#errorModal").modal('show');
		}

		function submitForm(form) {
			if (processing) {
				return;
			}

			processing = true;

			const signatureRequest = {
				url: form.action,
				type: "POST",
				dataType: 'json',
				contentType: 'application/json',
				success: onSuccess,
				error: onError
			};

			const requestData = {};

			let fullnameParsed = parseFullName(normalizeString(form["fullname"].value));

			if (fullnameParsed.length === 2) {
				requestData.name = fullnameParsed[0];
				requestData.surname = fullnameParsed[1];
			} else if (fullnameParsed.length === 3) {
				requestData.name = fullnameParsed[0];
				requestData.surname = fullnameParsed[1];
				requestData.patronymic = fullnameParsed[2];
			}

			let url = document.URL
			requestData.petition_path_id = url.substring(url.lastIndexOf('/') + 1)

			requestData.email = form["email"].value;
			requestData.signature_writing = signaturePad.toDataURL();

			signatureRequest.data = JSON.stringify(requestData);

			$.ajax(signatureRequest);
		}

		// Validation
		jQuery.validator.addMethod("signature", function(value, element, options) {
			return !signaturePad.isEmpty();
		}, "Пожалуйста, поставьте подпись");

		jQuery.validator.addMethod("fullname", function(value, element, options) {
			let parts = parseFullName(normalizeString(element.value));
			return parts.length >= 2;
		}, "Пожалуйста, введите имя и фамилию раздельно (отчество по желанию)");

		jQuery.extend(jQuery.validator.messages, {
			'required': "Пожалуйста, заполните это поле",
			'email': "Пожалуйста, введите корректный email"
		});

		$("#petitionForm").validate({
			ignore: [],
			submitHandler: function(form, event) {
				event.preventDefault();
				submitForm(form);
			}
		});

		var currentWidth = 0;

		// Canvas resize handler
		function resizeCanvas() {
			if (currentWidth == window.innerWidth) {
				return;
			}
			currentWidth = window.innerWidth;
			const ratio =  Math.max(window.devicePixelRatio || 1, 1);
			canvas.width = canvas.offsetWidth * ratio;
			canvas.height = canvas.offsetHeight * ratio;
			canvas.getContext("2d").scale(ratio, ratio);
			signaturePad.clear(); // otherwise isEmpty() might return incorrect value
		}

		window.addEventListener("resize", resizeCanvas);
		resizeCanvas();
		</script>
	</body>
</html>
